/**
 * Color Variables to be utilizes throughout the application
 */
$brownish-grey: #625f5c;
$marine-blue: #003366;
$warm-grey: #969492;
$pinkish-grey: #cbc9c8;
$white-two: #fcfbfb;
$white: #e5e4e3;
$light-grey: #f0f0ef;
$denim: #3e658b;
$black: #2e2925;
$dark-sky-blue: #1f9bde;
$dark-sky-blue-two: #5bb4e6;
$dark-sky-blue-three: #3498db;
$cloudy-blue: #bbc8d5;
$lightblue: #92cdef;
$bluegrey: #7c96af;
$duck-egg-blue: #c9e6f7;
$greyish-teal: #7e9c99;
$slate: #537b77;
$slate-two: #43586d;
$cool-grey: #a8bdbb;
$silver: #d4dedd;
$camo-green: #477626;
$moss: #75995d;
$greenish-grey: #a2bb94;
$light-grey-two: #d1dcc9;
$faded-red: #da3f52;
$scarlet: #d0021b;
$pig-pink: #e47d8a;
$pig-pink-two: #efbbc2;
$blood-orange: #fd4f00;
$orangish: #fd7c50;
$light-salmon: #fea78b;
$light-peach: #ffd3c6;
$sandy: #f6cc81;
$squash: #eca320;
$light-tan: #f7d79f;
$light-tan-two: #f7e2bd;
$light-khaki: #f9eedb;
$white-three: #f0eae7;
$silver-two: #d9dee3;
$milk-chocolate: #893a1e;
$brownish: #a56a55;
$mushroom: #c1998b;
$pinkish-grey-two: #ddcac3;
$sand-brown: #cc976c;
$beige: #e8d4c4;
$beige-two: #ede0d5;
$beige-three: #f4ede8;
$beige-four: #faf7ee;
$light-grey-three: #e9eeee;
$pale-grey: #f2f6f6;
$pale-grey-two: #d9e1e8;
$charcoal-grey: #2f4845;
$spinner-background: #FFFFFF;
$loading-overlay-light: #FFF;
$loading-overlay-dark: #666666;
$grey: #666;
$grey-as-f: #afafaf;
$origami-pepper-green:#e8f3e0;
$origami-pepper-red: #fce7ea;
$british-grey: #CCCCCC;
$pure-white: #ffffff;
$dirty-white: #F1F5F5;
$elephant-grey : #979797;
