@import '../../common/styles/colors.scss';
@import '../../common/styles/fonts.scss';

.article {
  max-width: 1000px;
  margin-top: 15px;
  margin-bottom: 15px;
  align-content: center;
  justify-content: center;
 .title {
   font-family: $ff-avant-garde-bold;
 }
 .author{
  font-family: $ff-avant-garde-italic;
 }
 .description {
   font-family: $ff-avant-garde-regular;
 }
 .click-to-read {
   margin-left: 10px;
   font-family: $ff-avant-garde-italic;
 }

}