<mat-card class="article">
  <mat-card-header>
    <mat-card-title class="title"> <h3> {{ article?.title }} </h3> </mat-card-title>
    <mat-card-subtitle class ="author">Article by : {{ article?.author }}</mat-card-subtitle>
  </mat-card-header>
    <img height="500px" mat-card-image src="{{ article?.urlToImage }}" alt="">
  <mat-card-content class="description">
    <h4> {{ article.description }} </h4>
  </mat-card-content>
  <mat-card-actions>
    <a href="{{ article?.url }}">Click to Read More!</a>
  </mat-card-actions>
</mat-card>