@import '../../common/styles/colors.scss';
@import '../../common/styles/fonts.scss';
.header-bar {
  color:$pure-white;
  background-color: #222222;
  font-family:  $ff-avant-garde-bold;
  .search-entry-wrapper {
    padding-right: 20px;
    width: 200px;
  }
  .inline {
    display: inline-block;
  }

  h2 {
    width: auto;
  }
}
