@import '../../common/styles/colors.scss';
@import '../../common/styles/fonts.scss';
.search {
  display: flex;
  font-family: $ff-avant-garde-bold;
  justify-content: center;
  align-items: center;
  gap: 15px;
  box-sizing: border-box;
  padding-top: 5px;
 
  .search-button {
    button {
      background-color: $moss;
      color: $pure-white;
      &:disabled {
        background-color: $warm-grey;
      }
    }
  }
}