<section class="search">
  <label class="select-country-text">Select News Source: </label>
  <div class="input-field">
    <mat-form-field>
      <mat-select placeholder="News Source" [(ngModel)]="selectedNewsSource" name="newsSources">
        <mat-option *ngFor="let source of newsSources" [value]="source">
          {{ source?.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="search-button">
    <button mat-button [disabled]="!selectedNewsSource" (click)="loadData()">Search</button>
  </div>
</section>